<h3>Send with the following content</h3>
<%= form_with(model: @blog, url: blogs_path,  local: true) do |form| %>
  <%= form.hidden_field :content %>
  <p><%= @blog.content %></p>
  <%= form.submit "submit" %>
<% end %>
<%= form_with(model: @blog, url: new_blog_path,  local: true) do |form| %>
  <%= form.hidden_field :content %>
  <p><%= @blog.content %></p>
  <%= form.submit "back", name:'back' %>
<% end %>
