<h1>list all created posts</h1>
<p class="notice"><%= notice %>
<p class="alert"><%= alert %>
<table>
  <div class="link">
    <a href="/blogs/new" class = "link">New blog post</a>
  </div>
  <tr>
    <th></th>
    <th class="content">blog content</th>
    <th class= "created_at">date posted</th>
  </tr>
  <% @blog.each do |blog| %>
    <tr>
      <td class="content">
        <strong>Chipo Jaya</strong><br>
        <small>@diverchipo</small><br>
      </td>
      <td class= "content"><%= blog.content %></td>
      <td class= "created_at"><%= link_to blog.created_at, format: :default %></td>
      <td><%= link_to 'Show', blog_path(blog.id) %></td>
      <td><%= link_to 'Edit', edit_blog_path(blog.id), data:{confirm: "are you sure you want to edit blog?"}  %></td>
      <td><%= link_to 'Delete', blog_path(blog.id), method: :delete, data:{confirm: "are you sure you want to delete blog?"} %></td>
    </tr>
  <% end %>
</table>
