<h1>twitterclone blog list</h1>
<p><%= notice %><​/p>
<table>
<tr>
  <th>title</th>
  <th>content</th>
</tr>
<%= link_to 'new', new_blog_path %>
<% @blogs.each do |blog| %>
<div>
   <%= blog.blog %>
 </div>
  <tr>
    <td><%= blog.title %></td>
    <td><%= blog.content %></td>
    <td><%= blog.user.name %></td>
    <td><%= link_to 'confirm', blog_path(@blog) %></td>
    <td><%= link_to 'edit', edit_blog_path(@blog), data:{confirm: "are you sure you want to edit blog?"}  %></td>
    <td><%= link_to 'delete', blog_path(@blog), method: :delete, data:{confirm: "are you sure you want to delete blog?"} %></td>
  </tr>
<% end %>
</table>
<%= link_to 'new', new_blog_path %>
