<!DOCTYPE html>
<html>
  <head>
    <title>twitterclone login</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= if flash[:notice] %>
      <p class="notice"><%= notice %></p>
    <%= end %>
    <%= if flash[:alert] %>
      <p class="alert"><%= alert %></p>
    <%= end %>

    <nav>
      <%= link_to blog_path, class="navbar" do %>
      <% end %>
        <h2> My twitter</h2>
    <nav>
      <ul class="header"
        <li><%= link_to 'top', blogs_path %></li>
        <li><%= link_to 'new', new_blog_path %></li>
      </ul>
    </nav>
    <%= yield %>
  <footer>
    <p>Copyright © 2020 This clone twitter is by Chipo <br>
        All Rights Reserved.</p>
  </footer>
  </body>
</html>
