<!DOCTYPE html>
<html>
  <head>
    <title>SessionLogin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <p class="notice"></p><%= notice %>
    <p class="alert"></p><%= alert %>
    <div id="navigation" >
    <nav>
      <ul class="header"
        <li><%= link_to 'top', root_path %></li>
        <li><%= link_to 'new blog', root_path %></li>
      </ul>
    </nav>
  </div>
  <%= yield %>
  <footer>
    <p>Copyright © 2020 This clone twitter is by Chipo <br>
       All Rights Reserved.</p>
  </footer>
  </body>
</html>
